@charset "utf-8";
/*
Template Name: Ligerrat
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: Layout CSS
*/

@import url("fontawesome-4.5.0.min.css");
@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0, .row0 a{}
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}


/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:5px 0; font-size:12px;}

#topbar .fl_right{margin-top:4px;}
#topbar .fl_right .inline > li i{margin:0 5px 0 0; line-height:normal;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;}

#header #logo{margin-top:0;}
#header #logo h1{margin:0; padding:0; font-size:22px; text-transform:uppercase;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:150px 0;}

#pageintro .introtxt{display:block; float:right; max-width:50%;}
#pageintro .introtxt .heading{margin-bottom:30px; font-size:42px;}
#pageintro .introtxt p{margin-bottom:30px; font-size:16px;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

/* Elements */
.elements li:last-child{margin-bottom:0;}/* Used for mobile devices when elements stack */
.elements article{display:inline-block; width:100%; max-width:320px; height:100%;}
.elements .txtwrap{padding:20px;}
.elements .txtwrap .heading{margin-bottom:0;}
.elements .txtwrap time{display:block; font-size:.8rem; margin-bottom:10px;}
.elements .txtwrap p{margin:0 0 15px 0;}
.elements .txtwrap p:last-child{margin-bottom:0;}
.elements .txtwrap footer{}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Testimonials
--------------------------------------------------------------------------------------------------------------- */
#testimonials{}
#testimonials li{}
#testimonials li:last-child{margin-bottom:0;}/* Used in mobile devices */
#testimonials li blockquote{display:block; position:relative; width:100%; margin:0 0 30px 0; padding:30px; line-height:1.4; z-index:1;}
#testimonials li blockquote::before{display:block; position:absolute; top:-15px; left:15px; padding:0 8px; font-family:"FontAwesome"; font-size:22px; content:"\f10d";}
#testimonials li blockquote::after{display:block; position:absolute; bottom:0; left:25px; margin-bottom:-18px; content:""; border:solid; border-width:18px 0 18px 18px; border-color:transparent;}
#testimonials li figure{}
#testimonials li figure img{float:left; margin-right:15px;}
#testimonials li figure figcaption{float:left; margin:15px 0 0 0;}
#testimonials li figure figcaption *{display:block; margin:0; padding:0; line-height:1;}
#testimonials li figure figcaption strong{margin-bottom:5px;}
#testimonials li figure figcaption br{display:none;}
#testimonials li figure figcaption em{font-size:.8rem;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .title{margin:0 0 50px 0; padding:0; font-size:1.2rem; text-transform:uppercase;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .3s ease-in-out;}
#mainav form *{transition:none !important;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul.clear{margin-top:3px;}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:5px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:15px 0; text-transform:uppercase;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; float:left; margin:0 12px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}

.faico a{display:block; height:30px; line-height:30px; font-size:14px; text-align:center;}
.faico a{color:inherit; background-color:transparent;}

.faicon-dribble:hover{color:#EA4C89;}
.faicon-facebook:hover{color:#3B5998;}
.faicon-google-plus:hover{color:#DB4A39;}
.faicon-linkedin:hover{color:#0E76A8;}
.faicon-pinterest:hover{color:#C8232C;}
.faicon-rss:hover{color:#EE802F;}
.faicon-twitter:hover{color:#00ACEE;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#888888; background-color:#141414;}
a{color:#795548;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#56AED4;}
.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#20B2AA; border-color:#20B2AA;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

.icon{color:inherit;}
.icon::before, .icon::after{background-color:#F4F4F4;}
article:hover .icon::before, article:hover .icon::after{}

.underlined::before{background-color:#D7D7D7;}
.underlined::after{color:#D7D7D7; background-color:#FFFFFF;}
.bgded .underlined::after{background-color:#000000;}


/* Rows */
.row0{color:#888888; background-color:#efeceb;}
.row1{color:#FFFFFF; background-color:#20B2AA;}
.row2{color:#888888; background-color:#F4F4F4;}
.row3{color:#888888; background-color:#FFFFFF; display: flex; justify-content: space-around; flex-wrap: wrap;}
.row4{color:#FFFFFF; background-color:#292929;}
.row5, .row5 a{color:#888888; background-color:#141414;}

.row2 .underlined::after{background-color:#F4F4F4;}
.row4 .underlined::after{background-color:#292929;}


/* Header */
#header #logo *{color:inherit;}


/* Content Area */
.elements article{color:#888888; background-color:#FFFFFF; box-shadow:0px 2px 5px rgba(0,0,0,.1);}


/* Testimonials */
#testimonials li blockquote{color:#FFFFFF; background-color:rgba(41,41,41,.5);}/* #292929 */
#testimonials li blockquote::before{color:#888888; background-color:#141414;}
#testimonials li blockquote::after{border-left-color:rgba(41,41,41,.5);}


/* Footer */
#footer .title{color:#888888;}
#footer .linklist li{border-color:#141414;}


/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#795548; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:rgba(128, 203, 196, 0.7);}
#mainav form select{color:#FFFFFF; background-color:#141414; border-color:rgba(136,136,136,.5);/* #888888 */}

#breadcrumb a{color:#888888; background-color:inherit;}
#breadcrumb li:last-child a{color:#56AED4;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#56AED4;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#56AED4;}

#backtotop{color:#FFFFFF; background-color:#56AED4;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:#56AED4;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.hoc{max-width:90%;}

	#topbar{}

	#header{padding-bottom:30px;}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#topbar{padding:10px 0 15px; text-align:center;}
	#topbar .faico li{float:none;}
	#topbar .fl_right ul{margin:0; line-height:normal;}
	#topbar .fl_right ul li{display:inline-block; margin-right:20px;}
	#topbar .fl_right ul li:last-child{margin-right:0;}

	#header{text-align:center;}
	#header #logo{margin-bottom:15px;}

	#pageintro .introtxt{max-width:none; float:none;}
	#pageintro .introtxt .heading{font-size:36px;}

	#footer{padding-bottom:50px;}
}

@media screen and (max-width:450px){}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}
}
.data-grid{
	display: flex;
	flex-direction: column;
	width: 310px;
	margin: 45px 30px;
    text-align: center;
    align-items: center;
}
.data-grid a {
	font-size: 23px;
    color: #56AED4;
    font-weight: 600;
    font-style: italic;
    padding: 10px;
}
.data-grid p {
	margin: -8px 0px;
    padding: 10px;
}
.data-grid img {
	height: 265px;
    width: 177px;
}
.textAbout{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 150px;
    font-size: 11px;
}
.textAbout:active{
	overflow: visible;
}
.container{
	display: flex;
}
.buyBook{
	width:100px;
	margin: 10px;
    height: 30px;
}
.books-grid{
	width: 100%;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buyBook {
	background-color: #C62828;
	color: white;
	border: none;
	border-radius: 5px;
}
.buyBook:hover {
	background-color: #795548;
}
.item{
}
#profile-page {
	display: flex;
}
#profile-page h1 {
}
#profile-page h2 {
	/* margin: 10 55px;*/
	color: #26A69A;
}
.dataBase {
	margin-right: 100px;
}
.detailOrder {
	width: 28%;
	/*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;*/
    background-color: #141414;
    margin-right: 25px;
}
.detailOrder p {
	margin: 5px 0px;
	color: #ffffff;
	font-size: 22px;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
}
.detailOrder input {
	border: none;
    height: 30px;
    width: 260px;
}
.detailOrder select {
	border: none;
    height: 30px;
    width: 260px;
}
.detailOrder button {
	margin: 5px 0px 5px 120px;
	border: none;
	border-radius: 5px;
	background-color: #BEBEBE;
	margin-right: 5px;
	color: white;
	height: 35px;
    width: 100px;
}
.detailShop {
	width: 100%;
	border: solid 2px #4DB6AC;
	margin: 80px;
}
.detailShop img {
	height: 170px;
	border: solid 1px #BEBEBE;
	margin-left: 5px;
}
.shopItem {
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: solid 1px #795548;
}
.shopItem h1 {
	margin: 0px;
	color: #795548;
}
.shopItemTwo {
	background-color: #DCDCDC;
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
main {
	display: flex;
    padding: 80px 0px;
    flex-wrap: wrap;
}
.Books {
	display: flex;
    padding: 0px;
    flex-wrap: wrap;
}
.detailShop .title {
	background-color: #4DB6AC;
}
.detailShop .title h2 {
	margin: 0px;
	color: #ffffff;
	font-size: 22px;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
}
.detailShop button {
	border: none;
	border-radius: 5px;
	background-color: #B71C1C;
	margin-right: 5px;
	color: white;
	height: 35px;
    width: 90px;
}
.detailShop button:hover {
	background-color: #795548;
}
.detailShop h4 {
	font-size: 15px;
	margin: 0px;
	color: #424242;
}
.detailShop strong {
	color: #5B9BBD;
}
.price {
	color: #141414;
}
.navigation {
	display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.search {
	display: flex;
}
.search button {
	border: none;
	background-color: #20B2AA;
	color: white; 
}
.search button:hover {
	color: #795548; 
}
.search input {
	border: none;
	color: black;
}
.filters {
	
}
.filters li {
	margin-top: 5px;
	list-style: none;
	color: #26A69A;
}
.filters li:hover {
	color: #795548;
}
.filters button {
	color: #26A69A;
}
.filters button:hover {
	color: #795548;
}
.filters button {
	border: none;
    background-color: white;
    color: black;
    padding: 10px;
}
.filters button:hover {
	color: #5B9BBD; 
}
.detailBook h1 {
	color: #5B9BBD;
	margin: 20px 0px;
}
.DetBooks {
	width: 75%;
    margin: 0 auto;
    padding: 10px;
}
.authors{
	width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.authorsGrid {
    width: 100%;
    margin: 56px 93px;
}
.authorsGrid img {
	height: 300px;
    width: 319px;
}
.authorsGrid a {
	font-size: 23px;
    color: #56AED4;
    font-weight: 600;
    font-style: italic;
    padding: 10px;
    display: block;
}
.detailAuthor h1 {
	color: #5B9BBD;
	margin: 20px 0px;
}
.boxNav {
	background-color: #efeceb;
	width: 20%;
}
.filter {
	width: 95%;
	margin: 0 auto;
	background-color: white;
	margin-top: 7px;
}
.iconsHead ul {
	display: flex;
	list-style: none;
	padding: 0;
}
.iconsHead ul li {
	margin-left: 20px;
}
.fa-2x {
	color: #795548;
}
.filtersPrice {
	width: 95%;
    margin: 0 auto;
    background-color: white;
    margin-top: 7px;
}
.filtersPrice input {
	margin: 8px;
	width: 40px;
}
.filtersPrice button {
	margin: 8px;
}
.filtersAvailable {
	width: 95%;
    margin: 0 auto;
    background-color: white;
    margin-top: 7px;
}
.filtersAvailable li {
	list-style: none;
	color: #26A69A;
}
.filtersAvailable li:hover {
	color: #795548;
}
.aboutUs {
	padding: 80px;
}
.aboutUs ul li {
	list-style: none;
	color: #26A69A;
}
.contacts {
	padding: 145px;
}
.contacts strong {
	color: #26A69A;
}
.delivery {
	padding: 80px;
}
.delivery h3 {
	color: #26A69A;
}
.payment {
	padding: 80px;
}
.payment h3 {
	color: #26A69A;
}
.bookRow {
	flex-wrap: nowrap;
}
.inputPrice {
	display: flex;
	align-items: center;
}